@import 'tailwindcss';

:root {
  --primary: #274494;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.btn-primary {
  background-color: var(--color-blue-600);
  color: var(--color-white);
  padding: calc(var(--spacing) * 2) calc(var(--spacing) * 4);
  border-radius: var(--radius-md);
  transition: all var(--default-transition-duration)
    var(--default-transition-timing-function);
}

.btn-primary:hover {
  background-color: var(--color-blue-800);
}

.btn-secondary {
  background-color: var(--color-gray-200);
  color: var(--color-black);
  padding: calc(var(--spacing) * 2) calc(var(--spacing) * 4);
  border-radius: var(--radius-md);
  transition: all var(--default-transition-duration)
    var(--default-transition-timing-function);
}

.btn-secondary:hover {
  background-color: var(--color-gray-300);
}
